*{
    box-sizing: border-box;
    display:flex;
    margin:0;
    flex-direction:column;
}

body {
    width:375px;
}

.search {
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    background-color:#1D3C78;
    padding:10px;
}

.search .material-icons {
    color:white;
}

#search_box {
    width:60%;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid gray;
}
.status img {
    width: 45px;
    height:45px;
    border-radius:100%;
    margin-left:10px;
}

.material-icons {
    width:24px;
    height:24px;
    display:flex;
}

#search_box {
    flex-direction:row;
    color:gray;
}

#gray {
    color:gray;
}

.categories {
    flex-direction:row;
    justify-content:space-around;
    margin-top:5px;
    padding-bottom:5px;
    color:gray;
    border-bottom:2px solid gray;
}

.status {
    margin-top:15px;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:5px;
}


.status .text {
    justify-content: center;
    align-items: flex-start;
    padding-left:15px;
    border-color:gray;
    border-style:solid;
    border-radius:30px;
    border-width:1px;
    border-color:gray;
    width:280px;
    height:40px;
}

.storage {
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    border-top:5px solid gray;
    padding-right:5px;
    padding-left:5px;
    padding-top:10px;
}

.storage .s_story {
    flex-direction: row;
    color:gray;
}

.img_contain {
    overflow-x:scroll;
    flex-direction:row;
    border-bottom:5px solid gray;
}

.story {
    position:relative;
}
.story img{
    height:100%;
    margin:5px;
    width:100px;
    position:relative;
    border-radius:10%;

}

.story .img_t{
    position:absolute;
    top:75%;
    left:10%;
    font-size:13px;
    color:ghostwhite;
    font-weight:bolder;
}

.story #black {
    color:black;
}




.story_text {
    display:flex;
    flex-direction:row;
    width:100%;
}
.story_text .s_text{
    flex-direction: column;
    font-size:10px;
    width:15%;
    margin:5px;
    align-items: space-between;
}


.story_text p {
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.profile1 {
    margin-top:10px;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:10px;
}

.p_text p {
    margin-left:7px;
}

#one {
    margin-bottom:8px;
}

#three {
    margin-top:8px;
}

.icon_name {
    flex-direction: row;
}
.icon img {
    width: 45px;
    height:45px;
    border-radius:100%;
    margin-left:10px;
}

.profile1 .icon {
    flex-direction:row;
}

.name {
    margin-left:5px;
}
.details {
    flex-direction:row;
    color:gray;
}

.profile1 .material-icons {
    flex-direction: row;
    justify-content: flex-end;
}

.img_1 {
    justify-content: center;
    align-items: center;
    margin:10px;
}

#hashtag {
    color:#576B95;
    padding:5px;
}
.like_line {
    flex-direction:row;
    justify-content:space-between;
    border:1px solid white;
    padding-bottom:10px;
    border-bottom-color:gray;
    align-items: center;
}

.like_line img {
    width:24px;
    height:24px;
    border-radius:100%;
}

.like_line p {
    color:gray;
}

.thumb {
    align-items: center;
}
.thumb img {
    height:30px;
    width:65px;
}
.replies, .thumb {
    flex-direction: row;
}

.final {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    border-bottom:3px solid #616770;
}

.f_cont {
    flex-direction: row;
    color:gray;
}